@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/libs/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br /><br />
    <div class="container">
        <ul id="nav-btns" type="none">
            <li>
                <a href="/home/htmltags" class="btn btn-primary">HTML Tags</a>
            </li>
            <li>
                <a href="/home/htmlform" class="btn btn-warning">HTML Form</a>
            </li>
            <li>
                <a href="/home/AudioVideo" class="btn btn-success">Audio & Video</a>
            </li>
            <li>
                <a href="/home/CssStyle" class="btn btn-info">CSS Style</a>
            </li>
            <li>
                <a href="/home/JavaScript" class="btn btn-danger">JavaScript</a>
            </li>
            <li>
                <a href="/home/checkallcssformat" class="btn btn-warning">CSS Formating and Check All Example</a>
            </li>
            <li>
                <a href="/home/Alertify" class="btn btn-success">Custom Alerts</a>
            </li>
            <li>
                <a href="/home/TraditionalWebsite" class="btn btn-default">Traditional Website</a>
            </li>
        </ul>
        <style type="text/css">
            #nav-btns{
                list-style-type: none;
            }
            #nav-btns li{
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            #nav-btns li a{
                border-radius: 0;
            }
        </style>
    </div>
</body>
</html>
