@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Traditional Website</title>
    <link href="~/css/traditionalWebsite.css" rel="stylesheet" />
    <link href="~/libs/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-top"></div>
            <div class="header-bottom cont">
                <div class="logo">
                    <a href="/" title="Xordin Technologies">
                        <img src="/images/xordin/Xordin-technologies-logo.png" width="219" height="70" alt="Xordin Technologies Logo">
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a class="active" href="/" title="Home" id="home">Home</a></li>
                        <li><a href="About" title="About us" id="about">About</a></li>
                        <li><a href="Services" title="Our services" id="services">Services</a></li>

                        <li><a href="Career" title="Career with us" id="career">Career</a></li>
                        <li><a href="Contact" title="Contact us" id="contact">Contact</a></li>

                    </ul>
                </div>
            </div>
        </header>

        <div class="clear80"></div>
        <section>

            <div class="cont">
                <div class="col-md-3 service_box">
                    <a href="Services">
                        <img src="/images/xordin/graphic-ico.png" width="101" height="101" alt="Graphic Design by Xordin Technologies">
                    </a>
                    <h4>Graphic Design</h4>
                    <p>
                        Graphic design is a creative process which starts with content – the idea which is to be presented.
                        This content is then designed using software...
                    </p>
                    <a href="/Services" style="display:none;">Graphic Design by Xordin Technologies</a>
                    <a href="Services">Read More...</a>
                </div>
                <div class="col-md-3 service_box ">
                    <a href="Services">
                        <img src="/images/xordin/web-ico.png" width="101" height="101" alt="Website Development by Xordin Technologies">
                    </a>
                    <h4>Website Development</h4>
                    <p>
                        Website development is the forte of Xordin Technologies, we provide services that take your website
                        idea from the drawing board to the internet...
                    </p>
                    <a href="/Services" style="display:none;">Website Design and Development by Xordin Technologies</a>
                    <a href="Services">Read More...</a>
                </div>
                <div class="col-md-3 service_box ">
                    <a href="Services">
                        <img src="/images/xordin/software-ico.png" width="101" height="101" alt="Software Development by Xordin Technologies">
                    </a>
                    <h4>Software Development</h4>
                    <p>
                        Xordin Technologies is a fast growing software development company. In a very short time we have
                        provided our clients with a software...
                    </p>
                    <a href="/Services" style="display:none;">Software Development by Xordin Technologies</a>
                    <a href="Services">Read More...</a>
                </div>
                <div class="col-md-3 service_box">
                    <a href="Services">
                        <img src="/images/xordin/mobile-ico.png" width="101" height="101" alt="Mobile App Development by Xordin Technologies">
                    </a>
                    <h4>Mobile App Development</h4>
                    <p>
                        Xordin Technologies provides technology-driven mobile application development which will surely
                        get you noticed on the mobile platform...
                    </p>
                    <a href="/Services" style="display:none;">Mobile App Development by Xordin Technologies</a>
                    <a href="Services">Read More...</a>
                </div>
            </div>
            <div class="clear80"></div>
            <div class="about_box">
                <div class="cont">
                    <div class="cont_left">
                        <h1>Welcome to Xordin Technologies!</h1>
                        <p>
                            Xordin Technologies is a single window solution for all your IT needs. In everything we do,
                            we follow a tried and tested, flexible method which ensures that all our customized and tailor-made
                            solutions, exceed our client’s expectations. We take pride in our history of serving clients from a
                            wide range of industries, and our advanced innovative solutions for them, are in themselves a
                            testament to the dedication and diligence we put in our work. Our products are currently being
                            used by several companies and we excel in efficiently managing on-site as well as remote projects.
                        </p>
                        <br>
                        <a href="/About" style="display:none;">About Xordin Technologies</a>
                        <a class="btn" href="About">Read More</a>
                    </div>
                    <img class="fright" src="/images/xordin/welcome-img.png" width="347" height="263" alt="Welcome to Xordin Technologies">
                </div>
            </div>
            <div class="clear80"></div>

        </section>
        <div class="clear80"></div>

        <footer>
            <div class="footer">
                <div class="cont">
                    <div class="footer-box">
                        <h1>Xordin Technologies</h1>
                        <p style="text-align: justify">
                            It is our vision to develop Xordin Technologies and make it a world class IT services center,
                            and to serve clients with top quality service in IT development field...
                        </p>
                        <a class="fright" href="About">Read More...</a>
                    </div>
                    <div class="quick_links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/">→ Home</a></li>
                            <li><a href="About">→ About</a></li>
                            <li><a href="Services">→ Services</a></li>

                            <li><a href="Career">→ Career</a></li>
                            <li><a href="Contact">→ Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-box">
                        <h3>Contact Us</h3>
                        <table width="300" border="0" cellspacing="0">
                            <tr>
                                <td width="100">Address</td>
                                <td width="5">:</td>
                                <td width="170">&nbsp;NH-58, Meerut Road</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>:</td>
                                <td>&nbsp;Ghaziabad-201001 UP (INDIA)</td>
                            </tr>

                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td><a rel="nofollow" href="mailto:info@xordin.com" title="Mail us">Info@xordin.com</a></td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td>:</td>
                                <td><a href="/" title="Xordin Technologies">www.xordin.com</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="cont">
                    <span>Copyright © 2018 - Xordin Technologies. All rights reserved.</span>
                    <ul class="fright">
                        <li>
                            <a rel="nofollow" href="http://www.facebook.com/XordinTechnologies" target="_blank" title="Like us on facebook">
                                <img src="/images/xordin/fb-ico.png" width="32" height="32" alt="Xordin Technologies on Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow" target="_blank" title="Follow us on linked in">
                                <img src="/images/xordin/linkedin-ico.png" width="32" height="32" alt="Xordin technologies on Linkedin">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.twitter.com/XordinTech" target="_blank" title="Follow us on twitter">
                                <img src="/images/xordin/twitter-ico.png" width="32" height="32" alt="Xordin Technologies on Twitter">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#" target="_blank" title="Subscribe our youtube channel">
                                <img src="/images/xordin/youtube-ico.png" width="32" height="32" alt="Xordin Technologies on Youtube">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <br /><br />
    <ul id="nav-btns" type="none">
        <li>
            <a href="/home/htmltags" class="btn btn-primary">HTML Tags</a>
        </li>
        <li>
            <a href="/home/htmlform" class="btn btn-warning">HTML Form</a>
        </li>
        <li>
            <a href="/home/AudioVideo" class="btn btn-success">Audio & Video</a>
        </li>
        <li>
            <a href="/home/CssStyle" class="btn btn-info">CSS Style</a>
        </li>
        <li>
            <a href="/home/JavaScript" class="btn btn-danger">JavaScript</a>
        </li>
        <li>
            <a href="/home/checkallcssformat" class="btn btn-warning">CSS Formating and Check All Example</a>
        </li>
        <li>
            <a href="/home/Alertify" class="btn btn-success">Custom Alerts</a>
        </li>
        <li>
            <a href="/home/TraditionalWebsite" class="btn btn-default">Traditional Website</a>
        </li>
    </ul>
    <style type="text/css">
        #nav-btns {
            list-style-type: none;
        }

            #nav-btns li {
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
            }

                #nav-btns li a {
                    border-radius: 0;
                }
    </style>
</body>
</html>
